.status{
    background-color: #DCDCDC;
  }
  .message{
    background-color: #FFFFFF;
  }
  .private-message{
    background-color: #FFDEDE;
  }
  .horario{
      color: #AAAAAA;
  }

  header{

    height: 80px;
    display: flex;
    justify-content: space-between;

  }
  header image {
    width: 75px;
    height: 53px;
  }
  header ion-icon {
    font-size: 64px;
  }
  .mensagem{
      margin-bottom: 4px;
  }

